# fly.toml app configuration file generated for stolpoker-xw46qq on 2025-11-23T22:03:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'stolpoker-xw46qq'
primary_region = 'iad'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
